.foto_autor {
  width: 120px !important;
  height:150px !important;
  border-radius: 50%;
}

.card_titulo_autor {
  font-size: 1.5rem !important;
  font-weight: bold;
  text-align: center;
  color: #90a686 !important;
}

.card-width {
  width: 18rem;
  background-color: #fffcec;
  padding: 1rem;
}